<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">To See</th>
    <th scope="col">Edit</th>
    <th scope="col">Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}$</td>
    <td><button class="btn btn-outline-primary" routerLink="/detail/{{ product.id }}"><i class="far fa-eye"></i>To See</button></td>
    <td><button class="btn btn-outline-warning" routerLink="/edit/{{ product.id }}"><i class="far fa-edit"></i>Edit</button></td>
    <td><button class="btn btn-outline-danger" (click)="remove(product.id)"><i class="far fa-trash-alt"></i>Remove</button></td>
  </tr>
  </tbody>
</table>
