<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i>List Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new"><i class="fas fa-plus-circle"></i>New Product</a>

      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
