<div class="container">
  <div class="row mt-5" *ngIf="product">
    <div class="col-md-4 mx-auto">
      <div class="card mt-5" style="width: 18rem;">
        <div class="card-header text-center">
          Detail Product
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>ID: </b>{{product.id}}</li>
          <li class="list-group-item"><b>NAME: </b>{{product.name}}</li>
          <li class="list-group-item"><b>PRICE: </b>{{product.price}}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="toReturn()"><i
            class="fas fa-arrow-circle-left"></i>
            To Return
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


